:root {
    --cor-botao:hsl(150, 100%, 66%);
}
body {
    background-color: hsl(218, 23%, 16%);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
main {
    max-width: 450px;
    background-color: hsl(217, 19%, 24%);
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    align-items: center;
    padding: 20px;
}

.n-conselho {
    color: var(--cor-botao);
    text-transform:uppercase;
    letter-spacing: 5px;
    margin-top: 30px;
}
.conselho {
    font-size: 23px;
    padding: 23px;
    text-align:center ;

}

button {
    background-color: var(--cor-botao);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    transform: translateY(85%);
}


.linha-ilustrativa {
    width:100%; 
}

button:hover {
    box-shadow: 0  5px 15px var(--cor-botao);
    cursor: pointer;
}