:root {
    --cor-botao:hsl(150, 100%, 66%);
}
body {
    background-color: hsl(218, 23%, 16%);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
main {
    width: 400px;
    height: 260px;
    background-color: hsl(217, 19%, 24%);
    display: flex;
    text-align: center;
    flex-direction: column;
    border-radius: 15px;
    gap:20px;
    align-items: center;
}
.conselho {
    text-align: ;

}

.n-conselho {
    color: var(--cor-botao);
    padding: 5px;
    margin-top:25px;
    font-weight: 400;
}

button {
    background-color: var(--cor-botao);
    width: 40px;
    height: 40px;
    border-radius: 20px;
    position: relative;
    top: 45px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dado{
    width: 15px;
}
.linha-ilustrativa {
    width: 350px;
    position: relative;
    top: 40px;
    
}
@media (max-width:576px) {
    main{width:270px
    }
    button{
        top: 27px;
    }
    .linha-ilustrativa{
        width: 200px;
        top: 25px;
    }
}